@{
    ViewData["Title"] = "Thành Công";
}

<div class="container mt-5">
    <h1 class="mb-4">Xóa Lịch Sử Thành Công</h1>
    <p class="alert alert-success">Tất cả lịch sử đã được xóa thành công.</p>
    <a href="@Url.Action("Index", "History")" class="btn btn-primary">Quay lại Lịch Sử</a>
</div>
